{% load static %}


<!DOCTYPE html>
<html lang="pt">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="static/css/bootstrap.css" rel="stylesheet">
   <link href="static/css/all.css" rel="stylesheet">
   <link href="static/css/styles.css" rel="stylesheet">
   <title>
       {% block titulo %}

       {% endblock %}
   </title>

</head>
<body>

    <div class="container">
      <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top" style="box-shadow: 5px 10px 8px #000">
         <div class="container">
            <a class="navbar-brand" href=""><img src="{% static 'images/logo.png' %}" style="width: 90px" ;
                  alt="Luis Imóveis"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
               aria-expanded="false" aria-label="Botão de navegação">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
               <div class="navbar-nav" style="padding-left: 30%;">
                  <a class="nav-link nav-item ">
                     <i class="fa-brands fa-whatsapp"></i>(21) 3741-8920</a>
                  <div class="dropdown">
                     <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown">
                        <i class="fa-brands fa-whatsapp"></i>Venda e aluguel</a>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">(21) 99974-3384</a>
                        <a class="dropdown-item" href="#">(21) 2608-0489</a>
                     </div>
                  </div>
                  <a class="nav-link nav-item" href="/anuncie/">
                     <i class="fa-solid fa-house-circle-exclamation"></i>Anuncie seu imóvel</a>
                  <a class="nav-link nav-item" href="/como-alugar-seu-imovel/">Como alugar seu imóvel</a>
               </div>
            </div>
         </div>
      </nav>

   </div>

    <div>
        {% block corpo %}

        {% endblock %}
    </div>

    {% block rodape %}
        <!-- Código referente a mensagem no final da página -->

   <div class="endpage-text" style="padding-top: 100px;">
      <h5>Horário de Funcionamento <br></h5>
   </div>
   <div class="endpage-text">
      <h8>Imobiliária Luis Imóveis Niterói | Os Melhores Imóveis da Região Oceânica | Venda e Locação</h8>
   </div>
   <div class="endpage-text">
      <h8>Segunda a sexta das 09:00 às 18:00</h8>
   </div>
   <div class="endpage-text">
      <h8>Sábado das 09:00 as 17:00</h8>
   </div>
   <div class="endpage-text">
      <h8><br>CRECI: 7888J</h8>
   </div>

   <!-- Código referente ao rodapé -->

   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-xl-2 col-lg-2 col-sm-5">
               <h5>Institucional</h5>
               <ul class="list-unstyled">
                  <li><a>Fale conosco</a></li>
               </ul>
            </div>

            <div class="col-xl-4 col-lg-4 col-sm-7">
               <h5>Serviços e Benefícios</h5>
               <ul class="list-unstyled">
                  <li><a>Anuncie o seu imóvel Grátis</a></li>
                  <li><a>Assinatura Eletônica - Veja como Funciona!</a></li>
                  <li><a>Atualização cadastral - Proprietários</a></li>
                  <li><a>Como alugar um imóvel</a></li>
                  <li><a>Encomende seu imóvel</a></li>
                  <li><a>Financiamento | Documentação do Comprador</a></li>
                  <li><a>Simule o seu Financiamento</a></li>
               </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-6">
               <h5>Imóveis para Alugar</h5>
               <ul class="list-unstyled">
                  <li><a>Alugar em Camboinhas</a></li>
                  <li><a>Alugar em Icaraí e Santa Rosa</a></li>
                  <li><a>Alugar em Itaipu</a></li>
                  <li><a>Alugar em Pendotiba e Maria Paula</a></li>
                  <li><a>Alugar em Piratininga</a></li>
               </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-6">
               <h5>Imóveis para Comprar</h5>
               <ul class="list-unstyled">
                  <li><a>Comprar em Camboinhas</a></li>
                  <li><a>Comprar em Itacoatiara</a></li>
                  <li><a>Comprar em Itaipu</a></li>
                  <li><a>Comprar em Pendotiba</a></li>
                  <li><a>Comprar em Piratininga</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>

    {% endblock %}

    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/script.js"></script>

</body>
</html>